@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*
{
    margin: 0;
    padding: 0;
}

body 
{
    /* preencher toda pagina com o body -> height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.cabecalho 
{
           /*superior*/   /*direito*/   /*baixo*/    /*esquerda*/
    padding:  4%                0%         0%         18%;
}


.cabecalho_menu
{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #22D4FD;

}

.h1destaque
{
    color: #22D4FD;
}

.apresentacao
{
    margin: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo /*section com os elementos h1,paragrafos e ancoras dentro*/
{
        width: 615px;
        display: flex;
        /*Ao definir o valor da propriedade de um elemento como display, criamos um contêiner flex,
         ou seja, passamos a utilizar o Flexbox. A partir desse ponto, todos os elementos que estão
          dentro do contêiner são chamados de elementos-filhos e apresentarão 
          comportamentos padronizados.*/
        flex-direction: column; 
        /*display flex deixa por padrao em rows
        o flex direction arruma para colunas*/
        gap: 40px; /*gap entre os elementos que estao dentro do section*/
}

.apresentacao_conteudo_titulo 
{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto 
{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links 
{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.h2_subtitulo
{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Krona One', sans-serif;

}

.apresentacao_links_link 
{
    display: flex;
    width: 378px;
    justify-content: center; /*alinha todos itens no meio*/
    gap: 16px;
    /*text-align: center; alinhar o texto no meio*/
    border-radius: 8px; /*Arredondar borda*/
    border: 2px solid #22D4FD; /*Borda do botao*/
    font-size: 24px; 
    font-weight: 600; 
    padding: 21.5px 0; /*espaçamento dentro do elemento, primeiro altura depois largura*/
    text-decoration: none; /*Retirar o sublinhado*/
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links_link:hover 
{
    background-color: #272727;
    color: green;
}

.rodape 
{
    color: #000;
    background-color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 23.64px 719px;

}